.nav-link {
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-link.text-underline {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}